#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.expandedCountryCardWrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.expandedCountryCard {
  width: max-content;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.expandedCountryCard img {
  width:100%;
  object-fit: cover;
}

.countryName {
  font-size: 24px;
  font-weight: bold;
}

.weatherAppendage {
  display: flex;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.weatherAppendage img {
  width: 25% ;   
  height: 25% ;  
  object-fit: contain;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: space=between;
  margin: 1rem;
}


.outputPanel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  flex-grow: 1;
}

.searchBar {
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.outerWrap {
  flex: 1;
  overflow:auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.dividingLine {
  margin-top: 50px;
}

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  padding: 1rem 0;
}